# Config file for mosquitto
#
# See: https://mosquitto.org/man/mosquitto-conf-5.html
# See: https://github.com/eclipse/mosquitto/blob/master/mosquitto.conf
#
###################################################################

# Don't allow anonymous users
allow_anonymous false
password_file /etc/mosquitto/passwd


# Localhost listener
listener 1883 localhost


# TLS MQTT (MQTTS) Listener
listener 8883
certfile {{ molecule_certfile }}
cafile {{ molecule_cafile }}
keyfile {{ molecule_keyfile }}


# TLS Websocket Listener
{% if molecule_enable_websockets %}
listener 8083
protocol websockets
certfile {{ molecule_certfile }}
cafile {{ molecule_cafile }}
keyfile {{ molecule_keyfile }}
{% endif %}
